@{
    ViewBag.Title = "Contact";
}
@section Scripts{
    <script src="https://kit.fontawesome.com/ec79bfe7a6.js" crossorigin="anonymous"></script>    
}

<h2 style="text-align:center;">Contact</h2>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4><i class="fab fa-linkedin">&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/">https://www.linkedin.com/</a></i></h4>
            <h4><i class="fab fa-codepen">&nbsp;&nbsp;&nbsp;<a href="https://codepen.io/">https://codepen.io/</a></i></h4>
        </div>
        <div class="col-md-6">
            <h4><i class="fab fa-github"></i>&nbsp;&nbsp;&nbsp;<a href="https://github.com/">https://github.com/</a></h4>
        </div>
    </div>
</div>