
@{
    ViewBag.Title = "Work";
}
@section Scripts{
    <script src="https://kit.fontawesome.com/ec79bfe7a6.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <style>
        body {
            background-color: #474747;
        }

        hr {
            border: 5px solid;
            border-radius: 25px;
        }

        .jobs {
            margin-top: 145px;
        }

        .timeline {
            margin-top: -25px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .circuit {
            margin-top: 70px;
            padding-right: 1px;
            color: lightcoral;
            padding-left: 0px;
        }

            .circuit:hover, .verizon:hover, .gongos:hover {
                -ms-transform: scale(1.1); /* IE 9 */
                -webkit-transform: scale(1.1); /* Safari 3-8 */
                transition: transform .3s;
            }

        .verizon {
            margin-top: 50px;
            color: red;
            padding-left: 1px;
            padding-right: 1px;
        }

        .gongos {
            margin-top: 30px;
            color: lightblue;
            padding-left: 1px;
            padding-right: 0px;
        }

        .experience {
            text-align: center;
            font-size: 50px;
            color: #b4b3b3 !important;
            font-weight: 100;
            margin-top: 75px;
            font-family: Arial;
        }

        .school {
            font-size: 12px;
            font-family: Arial;
            color: white;
        }


        .school-div {
            margin-top: 5px;
        }

        .fa-book-open{
            margin-right: 5px;
        }

        .tooltip-inner {
            max-width: 250px;
            /* If max-width does not work, try using width instead */
            background-color: #4f7a8f;
            font-family: Arial;
            text-align:left;
            margin-bottom: 3px;
        }

        .begYear, .endYear{
            float:left;
            font-family: Arial;
            font-size: 16px;
            color: white;
        }

        .endYear{
            float:right;
            font-family: Arial;
            font-size: 16px;
            color: white;
        }

        .begYearDiv{
            padding-left: 0px;
        }

        .endYearDiv{
            padding-right: 0px;
        }

    </style>
}
<h2 class="experience">Experience</h2>
<br />

<div class="container">
    <div class="row jobs">
        <div class="col-sm-3 circuit">
            <hr data-toggle="tooltip" data-html="true" data-placement="top" title="Sales Specialist<br>Circuit City<br>2005 - 2009" />
        </div>
        <div class="col-sm-5 verizon">
            <hr data-toggle="tooltip" data-html="true" data-placement="top" title="Experience Specialist/Workshop SME<br>Verizon<br>2009 - 2017" />
        </div>
        <div class="col-sm-4 gongos">
            <hr data-toggle="tooltip" data-html="true" data-placement="top" title="Programmer<br>Gongos<br>2017 - Current" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col-sm-12 timeline">
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-sm-6 begYearDiv">
            <p class="begYear">2005</p>
        </div>
        <div class="col-sm-6 endYearDiv">
            <p class="endYear">2020</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row school-div">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-6 school">
            <p>
                <i class="fas fa-book-open"></i>
                Bachelor of Business Administration in Computer Information Management - 2016
            </p>
            <p>
                <i class="fas fa-book-open"></i>
                Bachelor of Business Administration in Marketing (Cum Laude) - 2010
            </p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>





